@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

/* Add some uikit variables if desired */
$global-font-family: 'Roboto', sans-serif;
$base-body-font-weight: 300;
$base-heading-font-weight: 300;

@import "../../../../node_modules/uikit/src/scss/variables-theme";
@import "../../../../node_modules/uikit/src/scss/variables";

@import "../../../../node_modules/uikit/src/scss/mixins";
@import "../../../../node_modules/uikit/src/scss/mixins-theme";

@import "../../../../node_modules/uikit/src/scss/uikit";
@import "../../../../node_modules/uikit/src/scss/uikit-theme";


@import 'custom';
